@import "./utilities.scss";

.profile {
  &__choose--btn {
    width: 70px;
    height: 42px;
    margin: 0 auto;
    button {
      background-color: $blockBackground;
      border-radius: 3px;
    }
  }
}
